<div class="flex items-center justify-center  mb-4  h-full  dark:bg-gray-800">
    <div class="flex h-full flex-col  bg-gradient-to-b to-slate-800 w-1/2 ">

        <p class="flex justify-center  w-full text-white mt-12 mb-3 text-2xl">
             <img class="pr-2" src="../../../../assets/time/sun.png"
                alt="sun">
            25° </p>
        <p class="flex justify-center w-full  text-white mb-3 text-8xl">{{ horaImprimible }}  </p>
        <p class="flex justify-center w-full text-white text-2xl">23 de Marzo </p>


    </div>

    <div class="h-full  w-2/3 ">
        <div>
            <button type="button"
                class="text-white bg-gradient-to-r from-green-400 via-green-500
                 to-green-600 hover:bg-gradient-to-br
                 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                ENTRADA</button>
        </div>
        <div>
            <button type="button"
                class="text-white bg-gradient-to-r from-red-400 via-red-500
                 to-red-600 hover:bg-gradient-to-br  shadow-lg shadow-red-500/50 dark:shadow-lg
                 dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">SALIDA</button>
        </div>
    </div>



</div>