<div class="flex justify-evenly items-center h-[4.5rem] mx row bg-slate-900 text-slate-300">

    <nav class="">
        <ul class="flex justify-around items-center text-[1rem] " >
            <li class="px-5"><a [routerLink]="['/nav-home']" routerLinkActive="activa" >Inicio</a></li>
            <li class="px-5 "><a [routerLink]="['/nav-app']"  routerLinkActive="activa" >Nosotros</a></li>
        </ul>
    </nav>
    <div>
        <h1>Fichero</h1>
    </div>
    <div>
        <div class="flex  justify-center items-center ">
            <a class="px-5 text-[0.9rem] ">Login</a>
            <a class="p-3  text-[0.9rem] rounded-full bg-slate-800 text-center ">Registrarse</a>
        </div>

    </div>
</div>


